[bastion]
bastion-host ansible_host=<BASTION_PUBLIC_IP> ansible_user=azureuser

[jenkins]
jenkins-server ansible_host=<JENKINS_PRIVATE_IP> ansible_user=azureuser

[jenkins:vars]
ansible_ssh_private_key_file=/path/to/your/ssh-key.pem
# The following is for connecting to Jenkins via the Bastion host
ansible_ssh_common_args='-o ProxyCommand="ssh -W %h:%p -q azureuser@<BASTION_PUBLIC_IP>"' 